# deps
node_modules/
.pnpm-store/

# build artifacts
dist/
build/
.expo/
.expo-shared/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local

# editor / OS
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
Thumbs.db

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# coverage
coverage/
.vercel
